.station__control-navigations-items-amount-voits-wraper {
   margin: 10px 0px 0px 10px;
   color: var(--burger-menu-search-items-star-txt-color);
}

.station__control-navigations-items-amount-voits-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.station__control-navigations-items-amount-voits-title{
	margin-top: -10px;
}

 .station__control-navigations-items-amount-voits-checkbox {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin-right: 10px;
	position: relative;
	font-size: 14px;
	user-select: none;
}
.station__control-navigations-items-amount-voits-checkbox .station__control-navigations-items-amount-voits-switch {
	display: inline-block;	
	width: 36px;
	height: 14px;	
	border-radius: 20px;
	position: relative;
	top: 12px;			
	vertical-align: top;
	transition: .2s;
}
.station__control-navigations-items-amount-voits-checkbox .station__control-navigations-items-amount-voits-switch:before {
	content: '';
	display: inline-block;	
	width: 20px;	
	height: 20px;
	position: absolute;
	top: -5px;
	left: -1px;
	background: whitesmoke;
	border-radius: 50%;
	transition: .15s;	
   outline: 2px solid  grey;
   outline-offset: -5px
}
.station__control-navigations-items-amount-voits-checkbox input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.station__control-navigations-items-amount-voits-checkbox input[type=checkbox]:checked + .station__control-navigations-items-amount-voits-switch {
	background: rgba(var(--neon-color-code), 0.2);
}
.station__control-navigations-items-amount-voits-checkbox input[type=checkbox]:checked + .station__control-navigations-items-amount-voits-switch:before {
	background: var(--burger-menu-search-paginations-arrow-active);
	transform:translateX(18px);
}
 
/* Hover */
.station__control-navigations-items-amount-voits-checkbox input[type="checkbox"]:not(:disabled) + .station__control-navigations-items-amount-voits-switch {
	cursor: pointer;
   border: 2px solid var(--burger-menu-search-items-btn-border-elem-active);
}
 
/* Active/Focus */
.station__control-navigations-items-amount-voits-checkbox input[type="checkbox"]:not(:disabled):active + .station__control-navigations-items-amount-voits-switch:before, 
.station__control-navigations-items-amount-voits-checkbox input[type="checkbox"]:not(:disabled):focus + .station__control-navigations-items-amount-voits-switch:before {
	animation: checkbox-active-on 0.5s forwards linear;
}
@keyframes checkbox-active-on {
	0% {
		box-shadow: 0 0 0 0 rgba(212,212,212, 0);
	}
	99% {
		box-shadow: 0 0 0 10px rgba(212,212,212, 0.5);
	}
}
 
.station__control-navigations-items-amount-voits-checkbox input[type="checkbox"]:not(:disabled):checked:active + .station__control-navigations-items-amount-voits-switch:before, 
.station__control-navigations-items-amount-voits-checkbox input[type="checkbox"]:not(:disabled):checked:focus + .station__control-navigations-items-amount-voits-switch:before {
	animation: checkbox-active-off 0.5s forwards linear;
}
@keyframes checkbox-active-off {
	0% {
		box-shadow: 0 0 0 0 rgba(154,190,247, 0);
	}
	99% {
		box-shadow: 0 0 0 10px rgba(154,190,247, 0.5);
	}
}
 
/* Disabled */
.station__control-navigations-items-amount-voits-checkbox input[type=checkbox]:disabled + .station__control-navigations-items-amount-voits-switch {
	filter: grayscale(60%);
	border-color: rgba(0, 0, 0, .1);
  
}
.station__control-navigations-items-amount-voits-checkbox input[type=checkbox]:disabled + .station__control-navigations-items-amount-voits-switch:before {
	background: #eee;
}