.burger-menu__btn {
   width: 35px;
   height: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.burger-menu__btn:hover > span,
.burger-menu__btn-active:hover > span {
   background: var(--neon-color-active-elem);
}

.burger-menu__btn > span,
.burger-menu__btn-active > span {
   width: 35px;
   height: 4px;
   background: var(--neon-color);
   border-radius: 2px;
   transition: all 0.2s;
}

.burger-menu__btn-active > span:nth-child(1) {
   position: absolute;
   transform: rotate(45deg);
   top: 13px;
}

.burger-menu__btn-active > span:nth-child(2) {
   transform: scale(0);
}

.burger-menu__btn-active > span:nth-child(3) {
   position: absolute;
   transform: rotate(-45deg);
   top: 13px;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
 
}
