.burger-menu__wraper {
   position: relative;
   width: 100vw;
   height: 100vh;
   backdrop-filter: blur(2px);
   z-index: 5;
}

.burger-menu-btn__wraper {
   cursor: pointer;
   position: fixed;
   left: 20px;
   top: 15px;
}

.burger-menu__body {
   position: fixed;
   width: 98vw;
   height: 90vh;
   position: fixed;
   top: 60px;
   left: 20px;
   display: flex;
   /* transform: translateX(-120%); */
   transition: all 0.2s;
   z-index: 3;
}


.burger-menu__body-active {
   width: 98vw;
   height: 90vh;
   position: fixed;
   top: 60px;
   left: 20px;
   display: flex;
   transform: translateX(0%);
   transition: all 0.2s;
   z-index: 3;
}

