.station__control-wraper {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.station__control-navigations{
   width: 90%;
   height: auto;
}

.station__control-navigations-items-amount{
  position: relative;
  display: flex;
  align-items: center;
}


