.add__station-items-wraper {
   width: 20%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.add__station-items-body {
   display: inline-block;
   font-size: var(--display-font-size);
   font-family: var(--display-font-style);
   color: var(--display-font-color);
   text-transform: uppercase;
   z-index: 1;
   overflow: hidden;
}

.add__station-items_point_range-up {
   width: 0.4vw;
   height: 0.3vw;
   border-radius: 50%;
   background: var(--display-font-color);
   margin: 2px 0px;
}

.add__station-items-point_range-down {
   width: 0.4vw;
   height: 0.3vw;
   border-radius: 50%;
   background: var(--display-font-color);
   margin: 2px 0px;
}

.radio__display-station-items_add-neon{
   text-shadow: var(--display-font-shadow);
}