.station__lists-wraper {
  width: 85vw;
  height: 90vh;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.station__lists-wraper-btn {
 width: 73vw;
 height: auto;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.station__lists-body {
  width: 80vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.station__lists-btn-sort {
  color: var(--burger-menu-search-items-txt-color);
  margin: 0px 0px 0px 25px;
}