.search-forms__btn-submit-wraper {
height: 100%;
margin-top: 13px;
}

.search-forms__btn-submit-body-active {
   padding: 5px;
   width: 80px;
   border-radius: 5px;
   border: 2px solid var(--burger-menu-search-paginations-btn);
   color: var(--burger-menu-search-items-txt-color);
   font-size: 16px;
   background-color: transparent;
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);
}

.search-forms__btn-submit-body-active:hover {
   transition: .2s;
   border: 2px solid var(--burger-menu-search-paginations-arrow-active);
}

.search-forms__btn-submit-body-active:focus {
   animation: btnAnimo .5s linear;
   transition: .2s;
}

.search-forms__btn-submit-body-disabled{
   padding: 5px;
   width: 80px;
   border-radius: 5px;
   border: 2px solid grey;
   color: grey;
   font-size: 16px;
   background-color: transparent;
   cursor: pointer;
}

@keyframes btnAnimo {
0% {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);
}

50% {
   box-shadow:  0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(36, 35, 35, 0.19);
}

100% {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);
}

}