.radio__station-wraper {
   width: 20%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* border: 2px solid red; */
}

.radio__station-body {
   /* display: inline-block; */
   font-size: var(--display-font-size);
   font-family: var(--display-font-style);
   color: var(--display-font-color);
   text-transform: uppercase;
   z-index: 1;
   overflow: hidden;
   min-width: 10%;
   min-height: 10%;
}

.radio__display-station-neon {
   text-shadow: var(--display-font-shadow);
}

.radio__station-point_range {
   width: 0.6vw;
   height: 0.3vw;
   border-radius: 50%;
   background: var(--display-font-color);
   margin: 2px 0px;
}
