.search-forms__input-wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.search-forms__input-title {
  padding: 0px 0px 10px 0px;
  color: var(--burger-menu-search-items-txt-color);
}

.search-forms__input-error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 5px 0px;
  color: var(--burger-menu-search-input-error-color);
}

.search-forms__input-wraper > input {
  color: aliceblue;
  border: 2px solid var(--burger-menu-search-items-btn-border-elem-active);
  border-radius: 10px;
  background: transparent;
  padding: 5px;
}
